* -text
*.erb text -crlf -binary
*.rb text -crlf -binary
CONTRIBUTING.md text -crlf -binary
LICENSE text -crlf -binary
CHANGELOG text -crlf -binary
Rakefile text -crlf -binary
rakefile text -crlf -binary
*.gemspec text -crlf -binary
*.rdoc text -crlf -binary
*.textile text -crlf -binary
*.txt text -crlf -binary
